---
---

@import 'jekyll-theme-cayman';


body {
  color: #abb2bf;
  background: #1e2127;
}

img {
  opacity: 0.85;
  transition: 0.2s;
}

img:hover {
  opacity: 1;
}

.page-header {
  background-color: #2e4459;
  background-image: linear-gradient(180deg, #3f688b, #1e2127);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #61afef;
}

.main-content hr {
  background-color: #5c6370;
}

.main-content code {
  color: #98c379;
  background-color: #282c34;
}

.language-bash {
  background: #1e2127;
}

.highlight {
  background-color: #1e2127;
}

.main-content pre > code {
  color: #98c379;
  background-color: #282c34;
}

.highlight .nb {
  color: #61afef;
}

.highlight .nt {
  color: #c678dd;
}

.main-content pre {
  background-color: #282c34;
  border: solid 1px #282c34;
}

.main-content table th,
.main-content table td {
  border: 1px solid #5c6370;
}

.site-footer {
  font-size: small;
  border-top: solid 1px #5c6370;
  margin-bottom: 20px;
}

.site-footer-owner {
  float: left;
}

.site-footer-credits {
  color: #5c6370;
  float: right;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translatey(100px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}

.fade-up-1 {
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.1s;
}

.fade-up-2 {
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.2s;
}

.fade-up-3 {
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.3s;
}

.fade-up-4 {
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.4s;
}

.fade-up-5 {
  animation-name: fadeUp;
  animation-fill-mode: both;
  animation-duration: 1s;
  animation-delay: 0.5s;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translatey(-100px);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.fade-down {
  animation-name: fadeDown;
  animation-fill-mode: both;
  animation-duration: 1s;
}
